@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.logo span {
    color: #007AF3;
}
.menu-btn {
    cursor: pointer;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    padding: 0 1em;
    box-sizing: border-box;
    z-index: 999;
}
ul {
    list-style: none;
}
nav {
    background: #20272E;
    color: white;
    position: fixed;
    top: 4em;
    right: 0;
    box-sizing: border-box;
   

}
#menu-items {
    display: none;
}
nav ul {
  margin: 0;
}
nav {
    padding: 1em 2em 1em 0;
 
}
nav li {
    padding-bottom: 1em;
}
li:hover {
    font-weight: bolder;
}
.exit-btn {
    float: right;
    padding:0 0 1em 2em; 
}
.features-text {
    margin: 7em 0 5em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.member img {
    width: 100px;
}

a {
    text-decoration: none;
}
.try-for-free-btn {
    background:#007AF3 ;
    padding: 1em;
    color: white;
    border-radius: 5em;
    width: 10em;
    margin: 1em auto;
}
.features-text h5 {
    letter-spacing: .4em;
    color:gray ;
}
.features {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.watch-video {
    color: black;
    
}

.service {
    background: #20272E;
    color:white ;
    padding: 1em;
}
.service li::before {
    content: url("images/bullet.svg");
    margin: 1em;
 }
 .team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#007AF3 ;
    padding: 2em 0;
}
 .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#006BD6 ;
    width: 20em;
    margin: 2em auto;
    color: white;
    border-radius: .5em;
 }
 .member img {
     border-radius: 50%;
     position: relative;
     top: -2em;
 }
 input {
     width: 100%;
     height: 2em;
     margin-bottom: 1em;
     border: none;
     border-radius: 1em;
 }
 textarea {
     width: 100%;
     margin-bottom: 1em;
     border: none;
     border-radius: 1em;
 }
 .contact-message{
     padding: 3em;
 }
 button {
    background:#007AF3 ;
    padding: 1em;
    color: white;
    border-radius: 5em;
    width: 10em;
    margin: 1em auto; 
 }
 footer {
     text-align: center;
     color: lightgray;
 }
 iframe {
    width: 100%;
    border-radius: 10em 3em;
}
@media only screen and (min-width: 768px) {
    nav {
        background: white;
        color: #20272E;
        position: fixed;
        top: 4em;
        right: 0;
        box-sizing: border-box;
       height: 20em;
       border-bottom-left-radius: 3em;
    }
    nav li {
        padding-bottom: 2em;
        
    }
    .features {
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .features-img {
        width: 20em;
        padding-top: 4em;
    }
    .service {
        display: flex;
        justify-content: center;
        padding: 2em;
    }
    .service li {
        padding: .5em;
    }
    .team-members {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3em 0;
    }
    textarea {
        width: 50%;
    }
    input {
        width: 50%;
    }
   iframe {
       width: 40%;
    }
   .contact {
       display: flex;
   }
   .contact-message{
       width: 55%;
   }
  }
